.main
{
    background-size: 3%;
    background-color: #1F1F1F ;
}
.main .container
{
    
    color: white;
    background-color: #353535;
    
}

.container 
{
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}